button {
	background-color: #d7d7d7;
	border: none;
	padding: 3px 10px 4px 10px;
	border-radius: 4px;
	color: #333;
	font-size: 100%;
}

button:hover, button.active {
	background-color: rgb(244, 144, 0);
	color: #fff;
	cursor: pointer;
}

.main{
	margin: auto;
	width: 20%;
	padding-top: 50px;

}

.help{
	margin:auto;
	width: 60%;
}

h2{
	text-align: center;
}